{% extends "dashboard_base.html" %}

{% block title %}
Edit Company
{% endblock %}

{% block content %}

<a href="{% url 'companies:company_list' %}"
   class="btn btn-outline-secondary mb-3">
    ← Back to Companies
</a>

{% if form.errors %}
    <div class="alert alert-danger">
        {{ form.errors }}
    </div>
{% endif %}

<div class="container mt-4">

    <div class="card shadow">

        <div class="card-header bg-primary text-white">
            <h3 class="mb-0">Edit Company</h3>
        </div>

        <div class="card-body">

            <form method="post" enctype="multipart/form-data">

                {% csrf_token %}
                <!-- Buttons -->
                 {{ form.as_p }}
                <button type="submit" class="btn btn-primary">
                    Update Company
                </button>

                <a href="{% url 'companies:company_list' %}"
                   class="btn btn-secondary">
                    Cancel
                </a>

            </form>

        </div>

    </div>

</div>

{% endblock %}