<div class="card chart-card h-100">

    <div class="card-body">

        <div class="d-flex justify-content-between align-items-center mb-4">

            <div>
                <h5 class="fw-bold mb-1">
                    Investment Trend
                </h5>

                <small class="text-muted">
                    Portfolio value over time
                </small>
            </div>

            <span class="badge bg-primary">
                Last 7 Days
            </span>

        </div>

        <div class="chart-container">

            <canvas id="investmentChart"></canvas>

        </div>

    </div>

</div>