<!DOCTYPE html>
<html>
<head>
    <title>My Profile</title>
</head>
    <body>
        <h1> Wellcome {{request.user.first_name}}</h1>
        <hr>
        <p>
            <strong>Username:</strong>
            {{request.user.username}}
        </p>
        <p>
            <strong>First name:</strong>
            {{request.user.first_name}}
        </p>
        <p>
            <strong>Last name:</strong>
            {{request.user.last_name}}
        </p>
        <p>
            <strong>Email:</strong>
            {{ request.user.email }}
        </p>

        <p>
            <strong>Phone Number:</strong>
            {{ request.user.phone_number }}
        </p>

        <hr>
        <a href="{% url 'users:edit_profile' %}">
            Edit Profile
        </a>
        <br><br>
        <a href="{% url 'users:logout' %}"> 
            logout
        </a>

    </body>

</html>