{% extends "base.html" %}

{% block title %}
Register
{% endblock %}

{% block content %}

<div class="row justify-content-center">

    <div class="col-md-7 col-lg-5">

        <div class="card shadow-lg p-4">

            <div class="text-center mb-4">

                <h2 class="fw-bold">
                    📈 StockSphere
                </h2>

                <p class="text-muted">
                    Smart Portfolio Tracker
                </p>

            </div>

            <h4 class="text-center mb-4">
                Create Account
            </h4>

            <form method="post">

                {% csrf_token %}

                {{ form.as_p }}

                <div class="text-center">

                    <button
                        type="submit"
                        class="btn btn-success px-5">

                        Register

                    </button>

                </div>

            </form>

            <div class="text-center mt-4">

                <span class="text-muted">
                    Already have an account?
                </span>

                <a
                    href="{% url 'users:login' %}"
                    class="fw-semibold text-decoration-none">

                    Login

                </a>

            </div>

        </div>

    </div>

</div>

{% endblock %}