{% extends "dashboard_base.html" %}
{% load static %}

{% block title %}
Dashboard
{% endblock %}

{% block extra_css %}

<link
    rel="stylesheet"
    href="{% static 'dashboard/css/dashboard.css' %}">

{% endblock %}

{% block content %}
<div class="container-fluid">
    <h2 class="mb-4">
        Dashboard
    </h2>
    <h5 class="text-secondary mb-4">
        Good Morning,
        {{request.user.first_name|default:request.user.username}} 👋
    </h5>
</div>

<div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-xl-5 g-4 mb-5">

    {% for holding in holdings|slice:":5" %}

        <div class="col">

            {% include "dashboard/components/stock_card.html" %}

        </div>

    {% endfor %}

</div>


{% endblock %}